<div class="container-transactions">
    <div class="table-option">
        <div class="month-table">
            <a href="{{action}}?month={{month}}&year={{year}}&direction=previous"><i class="bi bi-caret-left"></i></a>
            <div class="info-month-year">
                <p class="month">{{name_month}}</p>
                <p class="year">{{year}}</p>
            </div>
            <a href="{{action}}?month={{month}}&year={{year}}&direction=next"><i class="bi bi-caret-right"></i></a>
        </div>