{% load static %}

<div class="container-graphics">
    <div class="graphics">
        <h2>Gráfico de Despesas e Receitas</h2>
        <div class="container-graphic-expense-category graphic">
            <img src="{% static 'imgs/graphics/expense_income.png' %}" alt="grafico de despesas e receitas">
        </div>
    </div>
    <div class="graphics">
        <h2>Gráfico por Categorias</h2>
        <div class="container-graphic-income-category graphic">
            <img src="{% static "imgs/graphics/graphic_category.png" %}">
        </div>
    </div>
    <div class="graphics">
        <h2>Despesas por Categorias</h2>
        <div class="container-graphic-income-category graphic">
            <img src="{% static "imgs/graphics/graphic_expense_category.png" %}">
        </div>
    </div>
    <div class="graphics">
        <h2>Receitas por Categorias</h2>
        <div class="container-graphic-income-category graphic">
            <img src="{% static "imgs/graphics/graphic_income_category.png" %}">
        </div>
    </div>
</div>