 <div class="container-info">
    <div class="info">
        <div class="items">
            <div class="arrow-items adjustment">
                <p>Saldo total</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div>
                <h5 id="balance-total" class="value-balance">R$ 0,00</h5>
            </div>
        </div>
        <div>
            <i class="fa-solid fa-landmark"></i>
        </div>
    </div>
    
    <div class="info">
        <div class="items">
            <div class="arrow-items">
                <p>Receitas</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div>
                <h5 id="income-total" class="value-balance">R$ 0,00</h5>
            </div>
        </div>
        <div>
            <i class="bi-arrow-up"></i>
        </div>
    </div>

    <div class="info">
        <div class="items">
            <div class="arrow-items adjustment">
                <p>Despesas</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div>
                <h5 id="expense-total" class="value-balance">R$ 0,00</h5> 
            </div>
        </div>
        <div>
            <i class="bi-arrow-down"></i>
        </div>
    </div>
</div>
