 <div class="{% if view == 'index' %}container-info-row {% else %}container-info-column{% endif %}">
    <div class="info">
        <div class="items">
            <div class="arrow-items adjustment">
                <a class="type_transaction" href="{% url "home:transactions" %}">Saldo total</a>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div>
                <h5 id="balance-total" class="value-balance">R$ 0,00</h5>
            </div>
        </div>
        <div>
            <i class="fa-solid fa-landmark"></i>
        </div>
    </div>
    
    <div class="info">
        <div class="items">
            <div class="arrow-items">
                <a href="{% url "home:transactions_income" %}" class="type_transaction">Receitas</a>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div>
                <h5 id="income-total" class="value-balance">R$ 0,00</h5>
            </div>
        </div>
        <div>
            <i class="bi-arrow-up"></i>
        </div>
    </div>

    <div class="info">
        <div class="items">
            <div class="arrow-items adjustment">
                <a href="{% url "home:transactions_expense" %}" class="type_transaction">Despesas</a>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div>
                <h5 id="expense-total" class="value-balance">R$ 0,00</h5> 
            </div>
        </div>
        <div>
            <i class="bi-arrow-down"></i>
        </div>
    </div>
    {% if view == 'transactions' %}
        <div class="info">
            <div class="items">
                <div class="arrow-items adjustment">
                    <a class="type_transaction">Balanço Mensal</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                <div>
                    <h5 id="expense-total" class="value-balance">{{monthhly_balance}}</h5> 
                </div>
            </div>
            <div>
                <i class="bi-calendar3"></i>
            </div>
        </div> 
    {% endif %}
</div>
