:root {
    --primary-color: #34113F;
    --second-color: #D4F2D2;
    --third-color: #BEB7DF;
    --fourth-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}


body {
    background: var(--second-color) !important;
    font-size: 2rem !important;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

.header {
    background-color: var(--fourth-color);
    height: 100%;
    width: 10rem;

    box-shadow: 0 0.1rem 0.3rem rgb(0, 0, 0, 0.1);
}


